
    <!-- Cart Section Start -->
    <section class="section cart__area">
    <% if(session.cart){ %>
        <div class="container">
            <div class="responsive__cart-area">
                <form class="cart__form" action="/orders" method="POST">
                    <div class="cart__table table-responsive">
                        <table width="100%" class="table">
                            <thead>
                                <tr>
                                    <th>PRODUCT</th>
                                    <th>NAME</th>
                                    <th>UNIT PRICE</th>
                                    <th>QUANTITY</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let electro of Object.values(session.cart.product)) { %>
                                <tr>
                                    <td class="product__thumbnail">
                                        <a href="#">
                                            <img src="<%= electro.product.image %>" alt="">
                                        </a>
                                    </td>
                                    <td class="product__name">
                                        <a href="#"><%= electro.product.title %></a>
                                        <br><br>
                                        <small>ELECTRO</small>
                                    </td>
                                    <td class="product__price">
                                        <div class="price">
                                            <span class="new__price"><%= electro.product.price %> TK</span>
                                        </div>
                                    </td>
                                    <td class="product__quantity">
                                        <div class="input-counter">
                                            <div>
                                                <button type="button" class="minus-btn" data-one=<%= electro.product._id %>>
                                                    <svg>
                                                        <use xlink:href="/img/sprite.svg#icon-minus"></use>
                                                    </svg>
                                                </button>
                                                <input type="text" min="1" value="<%= electro.qty %>" max="10" class="counter-btn">
                                                <button type="button" class="plus-btn" data-two=<%= electro.product._id %>>
                                                    <svg>
                                                        <use xlink:href="/img/sprite.svg#icon-plus"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product__subtotal">
                                        <div class="price">
                                            <span class="new__price"><%= electro.qty * electro.product.price %> TK</span>
                                        </div>
                                        <button type="button" class="remove__cart-item" id="deleteSpecificProduct" data-id=<%= electro.product._id %>>
                                            <svg>
                                                <use xlink:href="/img/sprite.svg#icon-trash"></use>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                <% } %> 
                            </tbody>
                        </table>
                    </div>

                    <div class="cart-btns">
                        <div class="continue__shopping">
                            <a href="/">Continue Shopping</a>
                        </div>
                        <div class="check__shipping">
                            <input type="checkbox">
                            <span>Shipping - 350TK (Outside Dhaka)</span>
                        </div>
                    </div>

                    <div class="cart__totals">
                        <h3>Cart Totals</h3>
                        <ul>
                            <li>
                                Shipping
                                <span>50 TK (Inside Dhaka)</span>
                            </li>
                            <li>
                                Total
                                <span class="new__price"><%= session.cart.totalPrice %> TK</span>
                            </li>
                            <li>
                                Email
                                <span name="email" class=""><%= user.email %></span>
                            </li>
                            <li>
                                Contact
                                <span name="phone" class="">+88 <%= user.phone %></span>
                            </li>
                            <li>
                                Address
                                <span name="address" class=""><%= user.address %></span>
                            </li>
                        </ul>
                        <button class="product__btn" type="submit">ORDER NOW</button>
                    </div>
                </form>
            </div>
        </div>
    <% }else{ %>
        <div class="changeTo empty-cart py-2">
            <div class="container1 mx-auto text-center">
                <h1 class="text-3xl font-bold mt-10 mb-2">Cart Empty 😭</h1>
                <p class="text-gray-500 text-2lg mb-12">You probably haven't ordered any product yet.<br>To order, go to the main page</p>
                <img class="w-1/5 mx-auto mb-20" src="/img/empty-cart.png" alt="empty-cart">
        
                <a href="/" class="hero__btn mt-10">Go back</a>
            </div>
        </div>
    <% } %>
    </section>
    <!-- Cart Section End -->


    <!-- Facility Section Start -->
    <section class="facility__section section" id="facility">
        <div class="container">
            <div class="facility__contianer">
                <div class="facility__box">
                    <div class="facility-img__container">
                        <svg>
                            <use xlink:href="/img/sprite.svg#icon-airplane"></use>
                        </svg>
                    </div>
                    <p>FREE SHIPPING WORLD WIDE</p>
                </div>

                <div class="facility__box">
                    <div class="facility-img__container">
                        <svg>
                            <use xlink:href="/img/sprite.svg#icon-credit-card-alt"></use>
                        </svg>
                    </div>
                    <p>100% MONEY BACK GUARANTEE</p>
                </div>

                <div class="facility__box">
                    <div class="facility-img__container">
                        <svg>
                            <use xlink:href="/img/sprite.svg#icon-credit-card"></use>
                        </svg>
                    </div>
                    <p>MANY PAYMENT GATWAYS</p>
                </div>

                <div class="facility__box">
                    <div class="facility-img__container">
                        <svg>
                            <use xlink:href="/img/sprite.svg#icon-headphones"></use>
                        </svg>
                    </div>
                    <p>24/7 ONLINE SUPPORT</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Facility Section End -->
